
.footer {
	font-size: 1.4em;
	box-shadow: 0 -7px 6px 1px rgba(0, 0, 0, 0.1);
padding: 1rem 0;
margin-top: 2rem;

color: $mainTxtColor;
}


.footer__phone-wrapper {

}

.footer__logo
{

	width: 13rem;
	height: 3rem;

}

.footer__user
{

}

.footer__social-wrapper {
	
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;

flex-direction: column;

}

.footer__social-subscribe-title
{
	margin-bottom: .5rem;
}

.footer__social-subscribe {

}

.footer__social-subscribe-wrapper
{
	display: flex;

	border: none;
	padding: 0;
}

.footer__social-subscribe-title,.footer__user
{
text-align: center;
}

.footer__social-subscribe-title
{
text-align: center;
}

.footer__social-subscribe-input {
border-radius: $borderRadius 0 0 $borderRadius;
border-right-color: transparent;

}
.footer__social-subscribe-submit {

border-radius: 0 $borderRadius $borderRadius 0;

}


.footer__social-links-wrapper,
.footer__pay-info-wrapper,
.footer__social-subscribe-wrapper,
.footer__logo,
.footer__user
{
	margin-bottom: 1rem;
}


.footer__social-links-wrapper-title,
.footer__pay-info-wrapper-title,
.footer__social-subscribe-title,
.footer__social-subscribe
{
	font-size: .9rem;
}

.footer__social-links,.footer__pay-info  {
	display: flex;
	justify-content: center;
}
.footer__social-link,.footer__pay-info-logo {
margin: .5rem;

:nth-child(n)
{
height: 100%;
width:  100%;
}
}


.footer__social-link
{
	height: 2rem;	
	width: 2rem;
	opacity: .6;

	&:hover
	{
		opacity: 1;
	}
}

.footer__pay-info-logo {
	height: 2rem;
	width: 2.5rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
	}

	
	.footer__social-link.vk
	{
		background-image: url("../img/vk.svg");

	}

	.footer__social-link.instagram
	{
		background-image: url("../img/instagram.svg");

	}



	
	.footer__pay-info-logo.visa
	{
		background-image: url("../img/visa.svg");
		opacity: .8;
		border-radius: 7px;
	}
	
	.footer__pay-info-logo.maestro
	{
		background-image: url("../img/maestro.svg");
		opacity: .9;
	}


.footer__copyright {
	padding: 1rem;
	line-height: 1.1rem;
	border-top: 1px solid lighten($minorAccentColor,  30);
	text-align: center;
	font-size: .7rem;
	color: lighten($mainTxtColor,  20);
}


.footer.global__cookies-show

{
	margin-bottom: 5rem;
}

.global__cookies-wrapper
{
	width: 100%;
	border-top: 1px solid $minorAccentColor;
	padding: .5rem 0 1rem 0;
	background-color: darken($bodyColor, 5);

	position: fixed;
	bottom: -10vh;
	opacity: 0;
	user-select: none;
	visibility: hidden;
	transition: all .5s linear;
}

.global__cookies-wrapper.global__cookies-show {
	opacity: 1;
	user-select:auto;
	visibility: visible;

	position: fixed;
	bottom: 0;
	left: 0;
z-index: 7;

}

.global__cookies {

display: flex;
justify-content: center;
align-items: center;


}


// .global__cookies-close
// {
// border: 1px solid $minorAccentColor;
// box-shadow: 0 0 7px 3px lighten($minorAccentColor, 30);
// border-radius: 50%;

// position: relative;
// height: 1.5rem;
// width:1.5rem ;

// padding: 0;

// &::before,&::after
// {
// content: ' ';
// display: block;
// height: 1px;
// width: .7rem;
// background-color:$mainTxtColor;
// position: absolute;
// top: 50%;
// left: 50%;
// }
// &::before
// {
// transform: translateY(-50%) translateX(-50%) rotate(45deg);
// }
// &::after
// {
// transform: translateY(-50%)  translateX(-50%) rotate(-45deg);
// }

// }


.global__cookies-ok {
	width: auto;
	padding: .5rem 1rem;
	margin-left: 2rem;
}

// .global__cookies-close
// {
// 	position: absolute;
// 	top: .5rem;
// 	right: .5rem;
// }





@media (min-width: 575.98px){ 

 }

 @media (min-width: 767.98px){
 
  } 
 
 @media (min-width: 991.98px){
 
  }
 
  @media (min-width: 1199.98px)
  {
	.footer  {
		color: $mainTxtColor;
		font-size: 1.6em;
	margin-top: 2rem;
	}

	
	.footer__user
{
text-align: center;
justify-content: center;
border-top: 1px solid lighten($minorAccentColor,  30);
border-bottom: 1px solid lighten($minorAccentColor,  30);

:nth-child(n)
{
	margin: .5rem 1rem;
}

}
.footer__social-wrapper {
	
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;

	flex-direction: row;

	}

	.footer__social-links-wrapper,
	.footer__pay-info-wrapper
	{
		margin-left:5rem;
	}

	.footer__user
	{
	text-align: left;
	}

	.footer__social-links,.footer__pay-info  {
		display: flex;
		justify-content: flex-start;
	}

	.footer__social-link,.footer__pay-info-logo {
		margin: .5rem 1rem .5rem 0 ;
		}
 }
 
 @media (min-width: 1399.98px){

	.footer {
		font-size: 1.7em;
	margin-top: 3rem;
	}

 }
