.header {
	font-size: 1.4em;
	margin-bottom: 1rem;
	box-shadow: 0 7px 6px 1px rgba(0, 0, 0, 0.1);
}

.header__list {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-top: 1rem;
	padding-bottom: 1rem;
	position: relative;
	width: 100%;
}

.header__list.mobile-search-active {

	justify-content: flex-end;

}

.nav__mobile-toggle {
	&::before {
		height: 40%;
		width: 40%;
		background-image: url("../img/rows.svg");
	}
	&:hover,
	&:focus,
	&:active {
		background-color: $bodyColor;
	}
}
.header-title {
	display: none;
}
.nav__mobile-toggle.active {
	z-index: 8;
	&::before {
		height: 40%;
		width: 40%;
		background-image: url("../img/close.svg");
		opacity: 0.4;
	}
}
.nav__list-middle-phone {
	display: none;
}

.nav {
	bottom: 0;
	left: 0;
	transform: translateX(-150vw) translateY(100%);
	position: absolute;

	z-index: 0;
	transition: all $transitionTime linear;
}

.nav.active {
	transform: translateY(100%);
	z-index: 7;
	width: 100%;
	min-height: 100vh;
	border-bottom: 2px solid $mainAccentColor;
	box-shadow: $minorAccentColor 0 150px 150px 155px;
	background-color: darken($bodyColor, 3);
}
.contact-form-li {
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
	color: $mainAccentColor;
	background: $bodyColor;
}

.nav__list-catalog-title,
.nav__list-menu-title {
	font-weight: bold;
	font-size: 1.4em;
	padding: 0.5rem;
	display: block;
	background-color: darken($bodyColor, 5);
}

.nav__list-catalog,
.nav__list-menu {
	width: 100%;
}

.nav__item-dropdown,
.nav__item {
	word-spacing: nowrap;
	cursor: pointer;
	border-bottom: 1px solid lighten($minorAccentColor, 30);
	transition: all $transitionTime linear;
}

.nav__item-dropdown {

	overflow: hidden;
	position: relative;

}

.nav__item-dropdown.active {
	
	background-color: lighten($mainAccentColor, 20);
	-webkit-text-stroke: 0.5px;
	border-top: 1px solid $bodyColor;
	border-bottom: 1px solid $bodyColor;

}

.nav__item-dropdown-title {
	transition: all $transitionTime linear;
	border-bottom: 1px solid lighten($minorAccentColor, 30);

	&::after {

		content: url("../img/arrow.svg");
		transition: all 0.2s linear;
		position: absolute;
		top:.5rem;
		right: .5rem;
		width: 1rem;
		height: 1rem;
	

		transform: rotate(90deg);
		display: inline-block;
	}
}

.nav__item-dropdown.active .nav__item-dropdown-title {


	letter-spacing: .2rem;
	color: $bodyColor;

	padding-left: 50%;
	padding-right: 50%;
// padding:0 50%;
	border-bottom: 1px solid $bodyColor;
	&::after {
		
		transform: rotate(-90deg);
	}
}

.nav__item-dropdown-child {

	position: absolute;
	transform: translateX(-150vw);
	opacity: 0;

	transition: all $transitionTime linear;
}

.nav__item-dropdown.active .nav__item-dropdown-child {
	position: static;
	transform: translateX(0%);
	opacity: 1;
}

.nav__link {
	padding: 0.5rem 0.5rem;
	display: block;
	white-space: nowrap;
}

.nav__list-middle {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

.nav__list-middle-phone {
	display: none;
}

.nav__list-middle-logo {
	background-image: url("../img/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 2.5rem;
	width: 8rem;
	margin: 0 0.3rem;
}

.mobile-search-toggle {
	z-index: 7;
	&::before {
		height: 30%;
		width: 30%;
		background-image: url("../img/close.svg");
		opacity: 0.6;
	}
}

.search-btn {
	&::before {
		height: 50%;
		width: 50%;
		background-image: url("../img/search.svg");
		opacity: 0.6;
	}
}

.nav__search-form {
	
	position: absolute;
	top: 0;
	left: -200%;
	opacity: 0;
	user-select: none;
	display: none;
}

.nav__search-form.active {
	user-select: auto;
	height: 100%;
	display: flex;
margin-right: 1rem;
    z-index: 7;
	position: static;
	opacity: 1;
	transition: all $transitionTime linear;
	width: 100%;

}

.nav__search-form-input {
	border-radius: $borderRadius 0 0 $borderRadius;
	border-right-color: transparent;
	width: 100%;

}

.nav__search-form-submit {
	border-radius: 0 $borderRadius $borderRadius 0;
	outline: none;
	transition: all $transitionTime linear;
	border-left-color: transparent;
	margin-right: 0.5rem;
	&::before {
		z-index: 1;
		height: 50%;
		width: 50%;
		background-image: url("../img/search.svg");
	}
	&:focus,
	&:hover {
		color: $titleTxtColor;
		border: 1px solid darken($bodyColor, 40);
	}
}



.nav__list-middle-favorite {
	z-index: 7;
	&::before {
		height: 50%;
		width: 50%;
		background-image: url("../img/heart.svg");
		opacity: 0.7;
	}
}

// функционала пока нет

.nav__list-middle-favorite.active,
.nav__list-middle-favorite {
	display: none;
}

.nav__list-middle-basket {

	z-index: 7;

	&::before {
		height: 75%;
		width: 75%;
		background-image: url("../img/basket.svg");
		opacity: 0.5;
	}
}

.nav__list-middle-favorite.active .nav__list-middle-favorite-value {
	opacity: 1;
}

.nav__list-middle-basket.active .nav__list-middle-basket-value {
	opacity: 1;
}

.nav__list-middle-favorite-value,
.nav__list-middle-basket-value {
	opacity: 0;
	position: absolute;
	right: -15%;
	top: -30%;
	font-size: 0.9em;
	color: $bodyColor;
	font-weight: bold;
	background-color: $mainAccentColor;
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav__list {
	width: 100%;
}

.nav__list-user {
	display: none;
}

@media (min-width: 374.98px) {
	.nav__list-middle-logo {
		width: 11rem;
	}
	.nav__list-middle-favorite,
	.nav__list-middle-basket {
		margin-left: 0.5rem;
	}
}

@media (min-width: 575.98px) {
	.header__list {
		display: flex;
		align-items: center;
	}

	.nav__list-middle-logo {
		width: 10rem;
		margin: 0 1rem;
	}

	.global-phone__wrapper,
	.nav__list-middle-phone {
		display: flex;
	}

	.nav__search-form.active {
		user-select: auto;
		height: 100%;
		min-width: 30rem;
	}


}

@media (min-width: 767.98px) {
	.nav__list-middle-logo {
		order: -1;
	}

	.nav__list-user {
		display: block;
	}

	.contact-form-li {
		text-align: left;
		border-top: none;
		font-weight: normal;
		font-size: inherit;
		padding: initial;
		color: inherit;
	}
}

@media (min-width: 991.98px) {
	.nav__list-middle-logo {
		width: 13rem;
		margin: 0 1rem;
	}

	.nav__search-form.active {
		min-width: 40rem;
	}

	.nav__list-middle-favorite,
	.nav__list-middle-basket {
		margin-left: 1rem;
	}
}

@media (min-width: 1199.98px) {
	.header {
		font-size: 1.6em;
		color: $mainTxtColor;
		margin-bottom: 2rem;
	}
	.header-title {
		display: block;
		line-height: 1.5rem;
	}
	.nav__mobile-toggle {
		display: none;
	}

	.header__list {
		position: static;
		flex-wrap: wrap;
	}
	.nav {
		position: static;
		transform: translateX(0) translateY(0);
		flex: 70%;
		background-color: $bodyColor;
		z-index: auto;
	}

	.nav__list-menu-title {
		display: none;
	}

	.nav__list-catalog-title {
		background-color: transparent;
		font-size: 1.2em;
		cursor: default;
	}

	.nav__list-catalog,
	.nav__list-menu {
		display: flex;
		align-items: center;
		background-color: $bodyColor;
	}
	.nav__list-catalog {
		order: 4;
		flex: 100%;
	}

	.nav__list-menu {
		order: 1;
	}

	.nav__list-middle {
		flex: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		order: 3;
		margin: 1rem 0;
	}

	.nav__list-middle-favorite {
		margin-left: auto;
	}

	.nav__list-middle-favorite,
	.nav__list-middle-basket {
		&:hover {
			background-color: lighten($mainAccentColor, 10);
		}
	}
	.nav__list-middle-basket {
		margin-right: 0.5rem;
	}

	.nav__list-middle-logo {
		width: 15rem;
		height: 3rem;
		margin: 0 1rem;
	}

	.nav__list-user {
		order: 2;
		display: flex;
		flex-direction: row-reverse;
	}
	.nav__list-catalog-title
	{
		margin: 0.3rem;
		border-bottom: 1px solid transparent;
	}

	.nav__item-dropdown,
	.nav__item
 {
		margin: 0.3rem;
		border-bottom: 1px solid transparent;

		&:nth-child(n) {
			border-bottom: 1px solid transparent;
			border-top: none;
		}

		&:hover,
		&:focus {
			border-bottom: 1px solid $mainAccentColor;
		}
	}

	.nav__item {
		&:hover,
		&:focus {
			-webkit-text-stroke: 0.5px;
			text-shadow: 0 0 1px;
		}
	}

	.nav__link,
	.nav__list-catalog-title {
		padding: 0.2rem;
		display: block;
	}
	.mobile-search-toggle {
		display: none;
	}
	.nav__search-form {
		margin-left: auto;
		user-select: auto;
		height: auto;
		width: auto;
		display: flex;
		position: static;
		opacity: 1;
		z-index: 0;
	}
	.nav__search-form-input {
		width: 100%;
		min-width: 20rem;
	}

	.nav__search-form-submit {
		margin-right: 0;
	}

	.nav__item-dropdown {
		padding: 0.1rem 1.2rem 0.1rem 0.2rem;
		margin: 0.5rem;
		overflow: unset;


		&:hover,
		&:focus,
		&:active {

			color: $titleTxtColor;
			-webkit-text-stroke: 0.5px;
		}
	}


	.nav__item-dropdown.active {

		background-color: transparent;
		border-radius: $borderRadius;
		margin-left: 0.5rem;
	}

	
	.nav__item-dropdown-title {
		font-weight: normal;
		border: none;

		&::after {

	right: 0rem;
opacity: 0.5;
		}
	}

	.nav__item-dropdown.active .nav__item-dropdown-title,
	.nav__item-dropdown.nav__item-dropdown:hover .nav__item-dropdown-title

	{

		text-shadow: 0px 0px 1px;
		color: $titleTxtColor;

		&::after {
			opacity: 0;
			transform: rotate(-90deg);
		}
	}


	.nav__item-dropdown-child {

		transform: translateX(50%) translateY(-150vh);
		right: 50%;
		color: transparent;
		letter-spacing: -0.5em;
		opacity: 0;
		transition: letter-spacing 0.05s ease-in 0.05s, color 0.1s ease 0.1s, opacity 0.1s ease 0.1s;
		
	}



	.nav__item-dropdown.nav__item-dropdown:hover .nav__item-dropdown-child,
	.nav__item-dropdown.active .nav__item-dropdown-child 
	{
		position: absolute;
		background-color:darken($bodyColor, 1);
		border-radius: $borderRadius;
		bottom: 0;
		right: 50%;
		font-size: 0.9rem;
		color: $mainTxtColor;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		letter-spacing: normal;
		opacity: 1;
		padding: 1rem;
		transform: translateX(50%) translateY(100%);
		user-select: auto;
		z-index: 8;
		box-shadow: 0 0 7px 3px lighten($minorAccentColor, 30);
		min-width: 101%;
		border-bottom: 2px solid $mainAccentColor;

	}
}

@media (min-width: 1399.98px) {
	.header {
		font-size: 1.8em;
		margin-bottom: 3rem;
	}
}
