<header class="header">
	<div class="header__list contanier">

		<button class="nav__mobile-toggle global-button"></button>

		<nav class="nav">

			<ul class="nav__list-menu">
				<li class="nav__list-menu-title ">Меню</li>

				<li class="nav__item">
					<a href="#" class="nav__link">nav__link</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">nav__link</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">nav__link</a>
				</li>
			</ul>

		</nav>

	</div>
</header>

