.example{

border-radius: 7px;

}

.print-font-size__wrapper
{

background-color: dodgerblue;
color: $bodyColor;
font-size: 5rem;

}
.print-font-size
{
	font-weight: bold;
	letter-spacing: 3px;
}
.svg{

}

.svg.vk
{
fill: currentColor;
stroke: $minorTxtColor;
stroke-width: 2px;


&:hover
{
	fill: $minorTxtColor;
	stroke:currentColor ;
}

}


