.example{

border-radius: 7px;
display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;
height: 100vh;
}

.svg{

}


.svg.vk
{
fill: currentColor;
stroke: $minorTxtColor;
stroke-width: 2px;
height: 3em;
width: 3em;

&:hover
{
	fill: $minorTxtColor;
	stroke:currentColor ;
}

}


